{% extends "layout.html" %}
{% block content %}
	<form method="post" enctype="multipart/form-data" id="fileUploadForm">
		<input name="upload" type="file">
		<button type="submit" id="btnSubmit">Upload</button></a>
	</form>

	<video id=example-video width=960 height=540 class="video-js vjs-default-skin" controls>
		<source src="https://cdn.hikka.io/konosuba/hls/watch.m3u8" type="application/x-mpegURL">
	</video>

	<script>
		$(document).ready(function () {

			$("#btnSubmit").click(function(e) {
				e.preventDefault();
				var form = $('#fileUploadForm')[0];
				var data = new FormData(form);

				$.ajax({
					type: "POST",
					enctype: 'multipart/form-data',
					url: "/api/upload",
					data: data,
					processData: false,
					contentType: false,
					cache: false,
					timeout: 600000,
					success: function (data) {
						console.log("SUCCESS : ", data);
					},
					error: function (e) {
						console.log("ERROR : ", e);
					}
				});
			});

			var player = videojs('example-video');
			player.play();

		});

	</script>
{% endblock content %}
